@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$hoofdkleur: #2859BC;
$tweede-kleur-donker: #48592D;
$tweede-kleur: #81D742;
$hoofd-kleur-licht: #4F82FF;
$contrast: #FF652A;
$achtergrond: #cccccc;

$mijnFont: Open Sans, sans-serif;
